*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.calculator-body{
    width: 348px;
    height: 475px;
    background-color: black;
    color: aliceblue;
    position: relative;
    margin-top: 100px;
    left: 40%;
    border-radius: 5px;
}

#display{
    width: 96%;
    height: 100px;
    margin: 5px;
    font-size: 50px;
    background-color: rgba(193, 223, 138, 0.692);
}

.cal-name{
    font-size: 35px;
    color: white;
}

 .num-btn{
    width: 79px;
    height: 68px;
    font-size: 33px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 1px;
    margin-left: 3px;
    transition: 0.3s all ease-out;
    border: 0.2px solid rgb(116, 116, 116);
   
}

@media only screen and (max-width: 600px) {
    .calculator-body {
        width: 356px;
        height: 549px;
        margin-top: 95px;
        left: 2px;
    } 

    .num-btn {
        width: 35px;
        height: 35px;
        color: rgb(216, 208, 208);
    } 
  }

@media only screen and (max-width: 600px) {
    
    .num-btn {
        width: 82px;
        height: 78px;
    }
    #display{
    width: 97%;
    height: 123px;
    margin: 5px;
    font-size: 50px;
    background-color: rgba(193, 223, 138, 0.692);
    }
    body{
        background-color: rgb(143, 143, 143);
    }
  }
